form {display: none;}

p.page6{

   margin-left: 1em;
   color:MidnightBlue;
   font-size:20px;
   line-height: 1.6;
}


div.t table,div.t th,div.t th td {
   
  border: 2px solid MidnightBlue;
  border-collapse:collapse;
  border-radius:0px;
  background:linear-gradient(to right, #33ccff 0%, #33cc33 100%);
} 

 div.t th,div.t td{padding: 5px;
  text-align: center;  
  
}


td{background-color:#ffccff;border: 2px solid MidnightBlue;
  border-collapse:collapse;
  border-radius:0px;}



#teacher:checked ~ #form1{display: block;}


#teams:checked ~ #form2{display: block;}






